# HW12

### Jingheng Huan
jh730

Q1: Referring to the relation schema below, write an SQL query denoting
the distinct student pairs who took 2 or more same courses. The query should
return student IDs. An example result entry could be the students with student ID
= 3 and student ID = 7, who took COMPSCI 201, COMPSCI 203, and COMPSCI 301.
Exam_Scores(student_ID, course_ID, score)

In [ ]:
SELECT E1.student_ID AS student1, E2.student_ID AS student2
FROM Exam_Scores E1
JOIN EXAM_Scores E2 ON E1.course_ID = E2.course_ID
WHERE E1.student_ID < E2.student_ID
GROUP BY E1.student_ID, E2.student_ID
HAVING COUNT(*) >= 2;