# HW12

### Jingheng Huan
jh730

Q1: Referring to the relation schema below, write an SQL query denoting
the distinct student pairs who took 2 or more same courses. The query should
return student IDs. An example result entry could be the students with student ID
= 3 and student ID = 7, who took COMPSCI 201, COMPSCI 203, and COMPSCI 301.
Exam_Scores(student_ID, course_ID, score)

In [ ]:
SELECT E1.student_ID AS student1, E2.student_ID AS student2
FROM Exam_Scores E1
JOIN EXAM_Scores E2 ON E1.course_ID = E2.course_ID
WHERE E1.student_ID < E2.student_ID
GROUP BY E1.student_ID, E2.student_ID
HAVING COUNT(*) >= 2;

Q2: Considering the following database schema, write an SQL query listing
the names and IDs of the students who do not currently take any courses.
Students (student_ID, name, class_year)
Instructors (instructor_ID, name)
Courses (course_ID, name, instructor_ID)
Enrollment (student_ID, course_ID)

In [ ]:
SELECT S.student_ID, S.name
FROM Students S
WHERE S.student_ID NOT IN (
    SELECT E.student_ID
    FROM Enrollment E
);

Q3: Using the same database schema from the previous question, provide
an SQL query that shows the names and IDs of the students who take all the open
courses.

In [ ]:
SELECT S.student_ID, S.name
FROM Students S
WHERE (
    SELECT COUNT(*)
    FROM Courses
) = (
    SELECT COUNT(*)
    FROM Enrollment E
    WHERE S.student_ID = E.student_ID
);

Q4: Following the database schema given below, provide an SQL query
listing the department names and campuses, teaching ’COMPSCI 301’ as a
course_ID, allowing at least 10 students to enroll. The results should be sorted with
respect to campus in alphabetical order.
class (course_ID, department_ID, student_quota)
course (course_ID, course_name, course_type, credit)
department (department_ID, department_name, campus)
where course
_type denotes a category among Disciplinary (D), Interdisciplinary
(ID), and Elective (E).

In [ ]:
SELECT department_name, campus
FROM department
WHERE department_ID IN (
    SELECT department_ID
    FROM class
    WHERE course_ID = 'COMPSCI 301' AND student_quota >= 10
)
ORDER BY campus;

Q5: On the database schema given in the previous question, offer an SQL
query that returns the department names alongside the total number of course
credits offered.

In [ ]:
SELECT department_name,
        (SELECT SUM(credit)
        FROM class
        JOIN course ON class.course_ID = course.course_ID
        WHERE class.department_ID = department.department_ID) AS total_credits
FROM department;